@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400, 700);

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.hero {
  background-image: url(/img/capa-madmax2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero:after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__menu {
  z-index: 2;
  display: flex;
}

.hero__lista__item a {
  color: #fff;
}
